body {
	background: #009999;
	margin: 0;
}

$color1: #666666;

.container {
	max-width: 1200px;
	margin: 0 auto;
	h1, h4 {
	text-align: center;
	color: $color1;
	font-family: 'Lobster', sans-serif;
	}
	.line {
		margin: 1em auto;
		width: 120px;
		height: 2px;
		content: "";
		border: 1px solid $color1;
		background: $color1;
	}
}

.text-box {
	padding-top: 2em;
	max-width: 600px;
	margin: 0 auto;
	p {
		font-family: 'Josefin Slab', serif;
		font-style: italic;
		font-size: 1.2em;
		text-align: justify;
		font-weight: 600;
	}
}








